{% extends "base.html" %}

{% block content %}
    <div>
        <div style="margin-top: 10%;"></div>
 
        <label style="padding: 1%; width: 40%; color:rgb(28, 0, 139);background-color: rgb(243 217 194)"> 
            Введитие логин и пароль для входа в вашую учетную запись 
        </label>
        
        <div style="margin-left: 2%; margin-top: 2%; color:rgb(255, 255, 255);">
            <label for="login" style="margin-top: 2%; ">Логин:</label>
            <div>
                <input type="text" id="login" name="login" />
            </div>
            <label for="pass" style="margin-top: 2%; color:rgb(255, 255, 255);">Пароль:</label>
            <div>
                <input type="password" id="pass" name="password" required />
            </div>

            <div style="margin-top: 1%"> <input type="submit" value="Войти"/> </div>
            <div> 
                <form id="welcomeForm" method="GET" action="{{ url_for('welcome') }}">
                    <input type="submit" onclick="welcomeForm.submit();" value="Вернуться на главную"/> 
                </form>
            </div>
        </div>

        <div style="margin-bottom: 10%;"></div>
    </div>
{% endblock content %}
