{% extends "base.html" %}

{% block content %}
    <div id="upperbar"> 
        <h3> {{system_role}} {{nickname}} </h3>

        <ul>
            <form id="homeForm" method="GET" action="{{ url_for('home', cur_user_id = cur_user_id) }}">
                <li onclick="homeForm.submit();">
                    <a class="active">Домашняя страница</a>
                </li>
            </form>

            <form id="announceForm" method="GET" action="{{ url_for('announce', cur_user_id = cur_user_id) }}">
                <li onclick="announceForm.submit();">
                    <a>Обьявления</a>
                </li>
            </form>

            <form id="profileForm" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = cur_user_id) }}">
                <li onclick="profileForm.submit();">
                    <a>Профиль</a>
                </li>
            </form>

            <form id="exitForm" method="GET" action="{{ url_for('exit', cur_user_id = cur_user_id) }}">
                <li onclick="exitForm.submit();" style="float:right">
                    <a>Выйти из системы</a>
                </li>
            </form>
        </ul>
    </div>

    <div>
        <div style="margin-top: 10%;"></div>

        <div style="margin: 0; padding: 0; width: 200px; color:rgb(28, 0, 139); background-color: rgb(243 217 194)">
            {% if system_role_id == system_role_admin_id%}
            <label> Список администраторов системы </label>
            
            {% for admin in admins %}
            <form id="adminProfileForm{{loop.index}}" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = admin[0]) }}">
            </form>
            {% endfor %}
            
            <table>
                <thead>
                    <th>№</th>
                    <th>Ник</th>
                </thead>
                {% for admin in admins %}
                <tr onclick="adminProfileForm{{loop.index}}.submit();">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a>
                            {{ admin[1] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </br>
            
            </br>
            <label> Список пользователей системы </label>
            
            {% for user in users %}
            <form id="userProfileForm{{loop.index}}" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = user[0]) }}">
            </form>
            {% endfor %}
            
            <table>
                <thead>
                    <th>№</th>
                    <th>Ник</th>
                </thead>
                {% for user in users %}
                <tr onclick="userProfileForm{{loop.index}}.submit();">
                    <td>{{ loop.index }}</td>
                    <td>
                        <a>
                            {{ user[1] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </br>
            {% endif %}

            </br>
            <label> Список проектов </label>
            
            {% for project in projects %}
            <form id="projectForm{{loop.index}}" method="GET" action="{{ url_for('project', cur_user_id = cur_user_id, project_id = project[0]) }}">
            </form>
            {% endfor %}
            
            <table>
                <thead>
                    <th>№</th>
                    <th>Название</th>
                </thead>
                {% for project in projects %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <a style = "display: block" onclick="projectForm{{loop.index}}.submit();">
                            {{ project[1] }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </br>
        </div>

        <div style="margin-bottom: 10%;"></div>
    </div>
{% endblock content %}
