{% extends "project_base.html" %}

{% block innercontent %}
        <div style="margin: 0; padding: 0; width: 600px; color:rgb(28, 0, 139); background-color: rgb(243 217 194)">
            <h2>{{ title }}</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                
                <div>{{ form.name.label }} {{ form.name() }}</div>
                
                <div>{{ form.stage.label }} {{ form.stage }}</div>
                <div>{{ form.priority.label }} {{ form.priority }}</div>
                <div>{{ form.user.label }} {{ form.user }}</div>
                
                <div>{{ form.tasktype.label }} {{ form.tasktype }}</div>
                <div>{{ form.taskfield.label }} {{ form.taskfield() }}</div>
                <div>{{ form.descr.label }} {{ form.descr() }}</div>
                
                <div></br></br></div>
                
                {{ form.submit() }}
            </form>
        </div>
{% endblock innercontent %}
