{% extends "base.html" %}

{% block content %}
    <div id="upperbar"> 
        <h3> {{system_role}} {{nickname}} </h3>

        <ul>
            <form id="homeForm" method="GET" action="{{ url_for('home', cur_user_id = cur_user_id) }}">
                <li onclick="homeForm.submit();">
                    <a>Домашняя страница</a>
                </li>
            </form>

            <form id="announceForm" method="GET" action="{{ url_for('announce', cur_user_id = cur_user_id) }}">
                <li onclick="announceForm.submit();">
                    <a>Обьявления</a>
                </li>
            </form>

            <form id="profileForm" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = cur_user_id) }}">
                <li onclick="profileForm.submit();">
                    {% if cur_user_id == user[8] %}
                    <a class="active">Профиль</a>
                    {% else %}
                    <a>Профиль</a>
                    {% endif %}
                </li>
            </form>

            <form id="exitForm" method="GET" action="{{ url_for('exit', cur_user_id = cur_user_id) }}">
                <li onclick="exitForm.submit();" style="float:right">
                    <a>Выйти из системы</a>
                </li>
            </form>
        </ul>
    </div>

    <div>
        <div style="margin-top: 10%;"></div>

        <div style="margin: 0; padding: 0; width: 50%; color:rgb(28, 0, 139); background-color: rgb(243 217 194)">
            {{ user[0] }} системы</br>
            <b>Никнейм: </b> {{ user[1] }}</br>
            <b>Фамилия: </b> {{ user[2] }}</br>
            <b>Имя: </b> {{ user[3] }}</br>
            <b>Отчество: </b> {{ user[4] }}</br>
            <b>Почта: </b> {{ user[5] }}</br>
            <b>Телефон: </b> {{ user[6] }}</br>
            <b>Кратко о себе: </b> </br> {{ user[7] }}</br>
        </div>

        {% if cur_user_id  == user[8] %}
        <input type="submit" value="Редактировать"/>
        {% endif %}

        <div style="margin-bottom: 10%;"></div>
    </div>
{% endblock content %}
