{% extends "base.html" %}

{% block content %}
    <div id="upperbar"> 
        <h3> {{system_role}} {{nickname}} </h3>

        <ul>
            <form id="homeForm" method="GET" action="{{ url_for('home', cur_user_id = cur_user_id) }}">
                <li onclick="homeForm.submit();">
                    <a>Домашняя страница</a>
                </li>
            </form>

            <form id="announceForm" method="GET" action="{{ url_for('announce', cur_user_id = cur_user_id) }}">
                <li onclick="announceForm.submit();">
                    <a>Обьявления</a>
                </li>
            </form>

            <form id="profileForm" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = cur_user_id) }}">
                <li onclick="profileForm.submit();">
                    <a>Профиль</a>
                </li>
            </form>

            <form id="exitForm" method="GET" action="{{ url_for('exit', cur_user_id = cur_user_id) }}">
                <li onclick="exitForm.submit();" style="float:right">
                    <a>Выйти из системы</a>
                </li>
            </form>
        </ul>
    </div>

    <div>
        <div style="margin-top: 10%;"></div>
        
        <div> 
            <form id="addTaskForm" method="GET" action="{{ url_for('project_add_task', cur_user_id = cur_user_id, user_id = user[0] }}">
                <input type="submit" onclick="addaTaskForm.submit();" value="Создать задачу"/> 
            </form>
        </div>

        <div style="margin: 0; padding: 0; width: 50%; color:rgb(28, 0, 139); background-color: rgb(243 217 194)">
            <b>Проект {{ project[1] }} </b> </br> </br>
            <b>Описание: </b> </br> {{ project[2] }}</br>
            {% if role_id == owner_role_id %}
            <input type="submit" value="Редактировать название и описание"/> </br>
            {% endif %}
            </br>
            
            {% for user in team %}
            <form id="userProfileForm{{loop.index}}" method="GET" action="{{ url_for('profile', cur_user_id = cur_user_id, user_id = user[0]) }}">
            </form>
            {% endfor %}
            
            <b>Команда проекта: </b> </br>
            <table>
                <thead>
                    <th>№</th>
                    <th>Ник</th>
                    <th>Роль</th>
                    <th>Должность</th>
                </thead>
                {% for user in team %}
                <tr onclick="userProfileForm{{loop.index}}.submit();">
                    <td>{{ loop.index }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div style="margin-bottom: 10%;"></div>
    </div>
{% endblock content %}
