{% extends "project_base.html" %}

{% block innercontent %}
    <div style="margin: 0; padding: 0; width: 600px; color:rgb(28, 0, 139); background-color: rgb(243 217 194)">
        <h2>{{ title }}</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.name.label }} {{ form.name(class="form-control form-control-lg") }}</div>
            
            {% if form.stage.errors %}
                {% for error in form.stage.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.stage.label }} {{ form.stage(class="form-control form-control-lg") }}</div>
            
            {% if form.priority.errors %}
                {% for error in form.priority.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.priority.label }} {{ form.priority(class="form-control form-control-lg") }}</div>
            
            {% if form.tasktype.errors %}
                {% for error in form.tasktype.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.tasktype.label }} {{ form.tasktype(class="form-control form-control-lg") }}</div>
            
            {% if form.taskfield.errors %}
                {% for error in form.taskfield.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.taskfield.label }} {{ form.taskfield(class="form-control form-control-lg") }}</div>
            
            {% if form.descr.errors %}
                {% for error in form.descr.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.descr.label }} {{ form.descr(class="form-control form-control-lg") }}</div>
            
            <div></br></br></div>
            
            {{ form.submit() }}
        </form>
    </div>
{% endblock innercontent %}
