{% extends "base.html" %}

{% block content %}
    <div>
        <div style="margin-top: 10%;"></div>

        <label style="padding: 1%; width: 40%; color:rgb(28, 0, 139);background-color: rgb(243 217 194)"> 
            Для того, чтобы войти в систему, пожалуйста, введите свои данные: 
        </label>
        
        </br>
        </br>
        </br>
        
        <h2>{{ title }}</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            {% if form.nickname.errors %}
                {% for error in form.nickname.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.nickname.label }} {{ form.nickname(class="form-control form-control-lg") }}</div>
            
            {% if form.login.errors %}
                {% for error in form.login.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>{{ form.login.label }} {{ form.login(class="form-control form-control-lg") }}</div>

            <div>{{ form.password.label }} {{ form.password() }}</div>
            {{ form.submit() }}
        </form>
        
        </br>

        <div style="padding: 1%; width: 40%; color:rgb(28, 0, 139);background-color: rgb(243 217 194)">
            <b>Внимание! </br> Доступ к системе разрешен только зарегистрированным пользователям! </b> </br>
            Чтобы зарегистрироваться в системе, пожалуйста, обратитесь к администратору
        </div>

        <div style="margin-bottom: 10%;"></div>
    </div>
{% endblock content %}
